.Contacts {
    padding-top: 50px;
    background: linear-gradient(to bottom, #e5e5e5 0%,#828282 49%,#2d2d2d 100%,#539fe1 100%,#87bcea 100%);    height: auto;
    position: relative;
    min-height: 550px;
}
.PhoneBlock {
    width: 30%;
    height: 400px;
    background: black;
    font-size: 25px;
    color: white;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-content: space-around;
    position: absolute;
    top: 20%;
    right: 20%;
    border-radius: 10px;

}
.ContactBlock {
    width: 50%;
    height: 400px;
    border: 5px solid #4e4e4e;
    border-radius: 10px;
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 45px;
}